li{
  list-style-type: none;
  margin: 20px;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 45px;
}

nav{
  height: 50px;
  color: pink;
}

ul{
  display: block;
  margin: 0;
  padding: 0;
  
  display: flex;  
}

body{
  margin: 0;
}

a:hover{
  background-color: skyblue;
}


body {
    background-color: skyblue;
}
  
main_page {
  padding: 20px;
  margin-top: 10px;
}

row: {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}